.main {
    background-image: url("assets/bgimage.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    min-height: 100vh;
    max-width: 100%;
    padding: 0 10px;
}

.main__content {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    max-width: 1201px;
    width: 100%;
    flex-grow: 1;
}

.main_title {
    width: fit-content;
    background: rgb(44, 162, 180);
    background: linear-gradient(90deg, rgba(44, 162, 180, 1) 0%, rgba(85, 152, 222, 1) 24%, rgba(127, 135, 255, 1) 45%, rgba(246, 90, 173, 1) 76%, rgba(236, 61, 67, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: AkiraExpanded;
    font-size: 48px;
}

.main__right {
    color: #373737;
    font-family: Helvetica;
    font-weight: bold;
    text-align: right;
    font-size: 18px;
    max-width: 190px;
}

.main__right p {
    font-size: 13px;
    font-weight: normal;
    padding-top: 3px;
}

.main_subtitle {
    font-size: 41px;
    font-family: Helvetica;
    color: #fff;
}

.main__bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 93px;
    color: #fff;
    font-family: Helvetica;
    font-weight: normal;
    max-width: 1201px;
    padding-bottom: 31px;
}

.main__bottom-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 21px;
    flex-grow: 1;
}

.main__bottom-item {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 225px;
}

.main__bottom-title {
    font-weight: bold;
    font-size: 18px;
}

.main__bottom-desc {
    font-size: 13px;
}

.main__bottom-scroll {
    display: flex;
    align-items: center;
    gap: 14px;
    color: #fff;
    transition: opacity .2s;
    padding: 5px;
    margin-left: 150px;
    cursor: pointer;
}

.main__bottom-scroll:hover {
    opacity: .8;
}

.main__bottom-scroll:active {
    opacity: .6;
}

@media (max-width: 780px) {
    .header {
        display: none;
    }



    .main__content {
        padding: 0 40px;
    }

    .main__bottom-list {
        padding: 0 40px;
    }

    .main__bottom-list {
        flex-direction: column;
        gap: 30px;

    }

    .main__bottom-item {
        width: 100%;
        max-width: 100%;
    }

    .main__bottom-scroll {
        display: none;
    }

    .main__bottom-title {
        font-weight: bold;
        font-size: 22px;
    }

    .main__bottom-desc {
        font-size: 15px;
    }
}

@media (max-width: 520px) {
    .main {
        padding: 0 10px 35px 10px;
    }
    .main_title {
        font-size: 38px;
    }

    .main__bottom-list {
        padding: 0;
    }

    .main_subtitle {
        font-size: 31px;
    }
}